




.App{
  background-color: #f0edf5;
  height: 100vh;
  position: relative;
  .floting-create-post{
    width: 100%;
    position: absolute;
   bottom: 0;
    background-color: rgba(255, 0, 0, 0.3);
  top: 0;
    padding: 100px;
  height: 100vh;
  }
}

.body-home{
display: flex;
width: 100%;
justify-content: space-around;
background-color: #f0edf5;
position: relative;

}
  
